name: Update dependency graph

on:
  push:

permissions:
  contents: write

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources
      uses: actions/checkout@v5
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: 'oracle'
        java-version: 25
    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@v4
